@charset "UTF-8";
img {
    border-radius: 10px;
    width: 300px;
    height: auto;
}
.produktai {
    background-color: grey;
    border: black solid 2px;
    color: white;
    padding-left: 5px;
    border-radius: 5px;
    
}
#header {
    font-family: monospace, serif;
}

